In [1]:
import pandas as pd

In [2]:
ER=pd.read_csv('Exchange_Rates.csv')

In [8]:
ER

            Date Currency  Exchange
0     2015-01-01      USD    1.0000
1     2015-01-01      CAD    1.1583
2     2015-01-01      AUD    1.2214
3     2015-01-01      EUR    0.8237
4     2015-01-01      GBP    0.6415
...          ...      ...       ...
11210 2021-02-20      USD    1.0000
11211 2021-02-20      CAD    1.2610
11212 2021-02-20      AUD    1.2723
11213 2021-02-20      EUR    0.8238
11214 2021-02-20      GBP    0.7126

[11215 rows x 3 columns]

In [9]:
ER.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [17]:
ER.isnull().sum()

Date        0
Currency    0
Exchange    0
dtype: int64

In [7]:
ER['Date']=pd.to_datetime(ER['Date'],errors='coerce')

In [11]:
ER.to_csv('Exchange_Rates_C.csv',index=False)

***SQL CONNECTION***

In [12]:
import mysql.connector

In [13]:
products = pd.read_csv('Exchange_Rates_C.csv')

In [14]:
# Establish a connection to your MySQL database
conn = mysql.connector.connect(
    host='localhost',       
    user='root',   
    password='@Karan549', 
    database='dataspark' 
)

In [15]:
# Create a cursor object
cursor = conn.cursor()

# Create the Products table if it doesn't exist
cursor.execute("""
CREATE TABLE IF NOT EXISTS exchange_rates (
    Date DATE,
    Currency VARCHAR(10),
    Exchange DECIMAL(10,4)
);
""")

In [18]:
# Insert data 
for index, row in ER.iterrows():
    cursor.execute("""
    INSERT INTO exchange_rates (Date,Currency,Exchange)
    VALUES (%s, %s, %s)
    """, tuple(row))

# Commit the transaction
conn.commit()

# Close the connection
cursor.close()
conn.close()

print("Data added to MySQL database successfully!")

Data added to MySQL database successfully!